# File: .gitignore
# Auth: M. Fras, Electronics Division, MPI for Physics, Munich
# Mod.: M. Fras, Electronics Division, MPI for Physics, Munich
# Date: 09 Jan 2023
# Rev.: 17 Jan 2023
#
# List of files to be ignored by Git for the MAGIC game project.
#

# This file itself.
#.gitignore

# Vi/Vim swap and backup files.
.*.swo
.*.swp
*~

# Other backup files.
*.bac
*.bak

# Backup files of SimulIDE
*_backup.simu

# KiCad backup and cache files.
/Board/KiCad/MagicGame/MagicGame-backups/
/Board/KiCad/MagicGame/fp-info-cache
/Board/KiCad/MagicGame/#auto_saved_files#

